.column{
  background: yellow;
  width: 300px;
  float: left;
  padding: 20px;
}

#first{
  background: red;
}

#second{
  background: blue;
}

#third{
  background: yellow;
}

h1{
  text-align: center;
}
